<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <table>
        <tr>
            <td>
                <input type="text" value="제품 아이디 입력">
            </td>
            <td>
                <input type="button" value="find">
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>프로젝트</td>
            <td><a>view</a></td>
            <td><a>add</a></td>
        </tr>
        <tr>
            <td>스케줄</td>
            <td><a>view</a></td>
            <td><a>add</a></td>
        </tr>
    </table>
</body>

</html>