<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../static/js/jquery-3.6.0.min.js"></script>
    <script>
        $(window).on("load", console.log('onload!!'));

        $(document).ready(function () {
            console.log("ready!");
            $('#err').hide();
        });
    </script>
</head>



<body>
    <div id="container">
        <div id="header"></div>
        <div id="content">

            <form method="post" action="">
                <table>
                    <tr>
                        <td>1</td>
                        <td>{{form.laser_mechine}}</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>{{form.laser_project}}</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>{{form.laser_partNo}}</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>{{form.laser_worker}}</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>{{form.laser_qty}}</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>{{form.laser_defective}}</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>{{form.laser_submit}}</td>
                    </tr>
                </table>
            </form>
        </div>
        <div id="footer"></div>
    </div>
</body>

</html>