<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="">
        function checkNum() {

        }
        alert('ok');
    </script>
    <title>Document</title>
</head>
<body>
  <div id="container">
        <div id="header">
            <h1>MX5 ctr lot</h1>
        </div>
        <div id="mbody">
            <table border="0">
                <tr>
                    <td>pid</td>
                    <td>작업수량</td>
                    <td>현재수량</td>
                </tr>
                <tr>
                    <td>71351-P6000</td>
                    <td>16</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>71262-P6030</td>
                    <td>16</td>
                    <td>15</td>
                </tr>
                <tr>
                    <td><a href="project.html">프로젝트추가</a></td>
                    <td></td>
                    <td><a href="laser.html">추가</a></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div id="footer"></div>
  </div>  
</body>
</html>
